{template header}
<link href="{ADMIN_THEME}images/table_form.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{EXT_PATH}kindeditor/kindeditor.js"></script>
<script type="text/javascript" src="{LANG_PATH}kindeditor.js"></script>
<script language="javascript">
function adduser(id) {
	$('#err_username').html("");
	$.get('{SITE_PATH}{ENTRY_SCRIPT_NAME}?s=member&c=roster&a=ajaxadd&ran='+Math.random(), { id:id}, function(data){ 
	    $('#err_username').html(data);
	});
}
</script>
<!--Wrapper-->
<div id="wrapper">
	<div class="top"></div>
	<div class="center">
	    <div class="center_left">
	        <h3>通讯录</h3>
			<div class="menu_left">
			<ul>
			{php $a="roster";}
            {loop $navigation $n=>$t}
                <li {if $n==$a} class="on"{/if}><a href="{$t['url']}">{$t['name']}{if $n=='inbox' && $inbox}({$inbox}){/if}</a></li>
            {/loop}
			</ul>
			</div>
        </div>
		<div class="center_right">
            <div class="title_right1"></div>
			<div class="content_info">
               <form action="" method="post">
               <table width="100%" class="table_form ">
               <tbody>
                <tr>
                    <th width="100">账号：</th>
                    <td>{$data['username']} </td>
                </tr>
				<tr>
                    <th width="100">联系人：</th>
                    <td><input name="data[nickname]" type="text" class="input-text" id="nickname" value="{$data['nickname']}" /></td>
                </tr>
                <tr>
                    <th>单位：</th>
                    <td><input name="data[company]" type="text" class="input-text" id="company" value="{$data['company']}" /></td>
                </tr>
                <tr>
                    <th>电话：</th>
                    <td><input name="data[tel]" type="text" class="input-text" id="tel" value="{$data['tel']}" /></td>
                </tr>
                <tr>
                    <th>邮件：</th>
                    <td><input name="data[email]" type="text" class="input-text" id="email" value="{$data['email']}" /></td>
                </tr>
                <tr>
                    <th>地址：</th>
                    <td><input name="data[address]" type="text" class="input-text" id="address" value="{$data['address']}" /></td>
                </tr>
                <tr>
                   <th style="border:none">&nbsp;</th>
                   <td style="border:none"><input type="submit" class="button" value="保 存" name="submit"></td>
                </tr>
                </tbody>
               </table>
               </form>
		    </div>
        </div>
	</div>
    <div class="bottom"></div>
</div>
<!--Wrapper End-->
<script language="javascript">
function setC() {
	if($("#selectc").attr('checked')==true) {
		$(".selectc").attr("checked",true);
	} else {
		$(".selectc").attr("checked",false);
	}
}
</script>
{template footer}